{% extends 'main/base.html' %}
{% load static %}
{% block title %}Школа{% endblock %}
{% block custom_links %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class='toast' style='position: absolute;top: 1%;right: 1%;z-index:1'>
                <div class="toast-header">
                    <strong class="mr-auto">EduPro</strong>
                    <small>Сейчас</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="view" style="background-image: url('{% static 'images/school.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:1000px">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center" style="height: 1000px;">
            <!-- Content -->
            <div class="container">
            <!--Grid row-->
            <div class="row mt-6">
                <!--Grid column-->
                <div class="col-md-6 mx-auto">
                <!--Form-->
                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                    <div class="card-body">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text">Регистрация Школы</h3>
                        <hr class="hr-light">
                    </div>
                    <!--Body-->
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <i class="fas fa-signature prefix white-text active"></i>
                            <label for="name">Название школы:</label>
                            <input type="text" name="name" minlength="5" class="white-text form-control" id='name' required>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix white-text active"></i>
                            <label for="email">Email:</label>
                            <input type="email" name="email" maxlength="255" id='email' class="white-text form-control" required>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-school prefix white-text active"></i>
                            <label for='alias'>EduName:</label>
                            <input type="text" name='alias' maxlength="50" minlength='3' class="white-text form-control" aria-describedby="textHelp" id='alias' required>
                            <small id="textHelp" class="form-text" style='color: white;'>Псевдоним вашей школы. Понадобиться учителям и ученикам при регистрации</small>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-lock prefix white-text active"></i>
                            <label for="password">Пароль:</label>
                            <input type="password" name='password' maxlength="255" minlength='5' class="white-text form-control" id='password' required>
                        </div>
                        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Подтвердить</button>
                    </form>
                    <p><a href="/schools/school_login/" style='color: white; text-decoration: underline;'>Уже зарегистрировали школу? Ввойдите!</a></p>
                    </div>
                </div>
                <!--/.Form-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
{% endblock %}